<div fxLayout="row" fxLayout.xs="column" fxFill>
    <div fxFlex="50" fxFlex.xs="100" class="login-form-section">
      <div>

        <a class="mb-4" [routerLink]="['/']" fxLayout="row" fxLayoutAlign="space-around center">
          <img src="../../../../assets/images/logos/logo.png" alt="Logo" class="logo" width="120" />
        </a>
  
        <mat-card class="login-card">
          <h2 class="mb-1 mt-4 mx-4" style="margin: 2rem;">Connectez-vous pour continuer</h2>
          <p class="login-description mb-4 mx-4" style="margin: 1rem;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
  
          <mat-card-content style="margin-top: 1rem;">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
              <div class="grid-form">
                <div *ngFor="let field of fields" [ngClass]="field.size">
                  <app-generique-input 
                    [control]="getFormControl(field.code)"
                    [label]="field.label" 
                    [field]="field" 
                    [placeholder]="field.label"
                    [submitted]="submitted">
                  </app-generique-input>
                </div>
              </div>

              <button class="main-btn full-width" type="submit" [disabled]="loading">
                <ng-container *ngIf="!loading; else loadingTemplate">Connexion</ng-container>
                <ng-template #loadingTemplate>
                  <mat-spinner diameter="24"></mat-spinner>
                </ng-template>
              </button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  
    <div fxFlex="50" fxFlex.xs="0" class="background-section"></div>
</div>
  
