.login-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: center;

  @media (max-width: 600px) {
    flex-direction: column;
    padding: 20px;
  }
}

.login-form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  .form-wrapper {
    width: 80%;
    max-width: 400px;
  }
}

.background-section {
  background: url('https://images.pexels.com/photos/7735630/pexels-photo-7735630.jpeg')
              no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .background-section {
    display: none;
  }
}

.login-card {
  width: 100%;
  padding: 20px;
  background: none !important;
  box-shadow: none;
}

.login-description {
  color: #434343;
  margin: 0;
}

.login-title {
  font-size: 22px;
  color: #434343;
  text-align: center;
}

.text-center {
  text-align: center !important;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 16px;

  .social-btn {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 5px;
    width: 48px;
    height: 48px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #ededed;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.grid-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.w-50 {
  grid-column: span 1;
}

.w-100 {
  grid-column: span 2;

  @media (max-width: 768px) {
    grid-column: span 1;
  }
}

.main-btn {
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  font-weight: 600;
  width: 100%;
  transition: background 0.3s ease;

  &:hover {
    background: #0d47a1;
  }
}